html
    head
        block title
            if request.path.startswith('/category/') and posts.category
                title= '分类：' + posts.category.title + ' - ' + site.title
            elif request.path.startswith('/tag/') and posts.tags
                title= '标签：' + tag + ' - ' + site.title
            elif request.args.s
                title= '搜索：' + request.args.s + ' - ' + site.title
            elif site.configs.sub_title
                title= site.title + ' - ' + site.configs.sub_title
            else
                title= site.title

        +h.headers
        +h.load('/template/style.scss')

    body
        .surface-content
            header(class='home-header blog-background banner-mask')
                div(class='nav-header container')
                    div.nav-header-container: a(href='/')= 'home'
                .header-wrap
                    .container
                        .home-info-container
                            h2: a(href='/')= site.title
                            h4: site.configs.sub_title

            main(class='content-area container is-homeList')
                section.site-content
                    for post in posts
                        article.post-item
                            bgcover = 'http://coffin.wpista.com/wp-content/themes/Coffin/build/images/default.jpeg'
                            if ( post.cover )
                                bgcover = post.cover
                            div(class='post-image',style='background-image:url({{bgcover}})')
                                .info-mask
                                    .mask-wrapper
                                        h2.post-title: a(href=post.url)= post.title
                                        .post-info
                                            span.post-time
                                                time=post.date.format('%m %d, %Y')
                                            span.middotDivider
                                            if post.category 
                                                a(href=post.category.url)= post.category.title
                div(class='navigation pagination')
                    .nav-links
                        +h.paginator(style='auto', max_count='8')

            footer(class='site-footer clearfix u-textAlignCenter')
                 | just a <a href="https://fatesinger.com" target="_blank">bigfa</a> theme.