html
    head
        +h.headers
        +h.load('/template/style.scss')
        title= post.title + " - " + site.title
    body
        .surface-content
            if ( post.cover )
                header(class='home-header blog-background banner-mask',style='background-image:url({{post.cover}})')
                    div(class='nav-header container')
                        div.nav-header-container: a(href='/')= 'home'
                    .header-wrap
                        .container
                            div(class='post-info-container u-textAlignLeft')
                                h2.post-page-title= post.title
                                time.post-page-time= post.date.format('%m %d, %Y')
                                span.middotDivider
                                span.post-page-author= site.configs.admin_name
            else 
                header(class='home-header blog-background banner-mask')
                    div(class='nav-header container')
                        div.nav-header-container: a(href='/')= 'home'
                    .header-wrap
                        .container
                            div(class='post-info-container u-textAlignLeft')
                                h2.post-page-title= post.title
                                time.post-page-time= post.date.format('%m %d, %Y')
                                span.middotDivider
                                span.post-page-author= site.configs.admin_name

            main.main-content
                section(class='content-area container')
                    .site-content
                        div(class="single-post-inner grap")= post.content

                    if post.tags
                        .tag-list
                            for tag in post.tags
                                a(href='/tag/{{tag}}')= tag

                    div(class='author-field u-textAlignCenter')
                        img(class='avatar',width=64,src=site.avatar)
                        h3= site.configs.admin_name
                        p= 'your description'
                        +site.just_socials

                    nav(class='navigation post-navigation')
                            if posts.previous_one
                                if posts.previous_one.cover
                                    style.
                                        .post-navigation .nav-previous { background-image: url({{posts.previous_one.cover}});}
                                        .post-navigation .nav-previous .post-title { color: #fff; }
                                        .post-navigation .nav-previous .meta-nav { color: rgba(255,255,255,.9)}
                                        .post-navigation .nav-previous:before{
                                                                        content: "";
                                                                        position: absolute;
                                                                        top: 0;
                                                                        bottom: 0;
                                                                        left: 0;
                                                                        right: 0;
                                                                        background-color: rgba(0,0,0,0.4);
                                                                    }
                                .nav-previous
                                    a(href=posts.previous_one.url)
                                        span.meta-nav= 'Previous'
                                        span.post-title= posts.previous_one.title

                            if posts.next_one
                                if posts.next_one.cover
                                    style.
                                        .post-navigation .nav-next { background-image: url({{posts.next_one.cover}});}
                                        .post-navigation .nav-next .post-title { color: #fff; }
                                        .post-navigation .nav-next .meta-nav { color: rgba(255,255,255,.9)}
                                        .post-navigation .nav-next:before{
                                                                        content: "";
                                                                        position: absolute;
                                                                        top: 0;
                                                                        bottom: 0;
                                                                        left: 0;
                                                                        right: 0;
                                                                        background-color: rgba(0,0,0,0.4);
                                                                    }
                                .nav-next
                                    a(href=posts.next_one.url)
                                        span.meta-nav= 'Next'
                                        span.post-title= posts.next_one.title

                    
                    if post.metadata.comment not in ['no', 'No', False]
                        div.comments-area
                            +post.comments_as_html()

                

            footer(class='site-footer clearfix u-textAlignCenter')
                 | just a <a href="https://fatesinger.com" target="_blank">bigfa</a> theme. 